@import 'tailwindcss';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  overflow-x: hidden;
}

header {
  background-color: darkslateblue;
}

footer {
  background-color: #1b1b23;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}